.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.searchTerm{
  width: 250px;
  height: 26px;
  line-height: 24px;
  font-size: 20px;
  padding: 3px;
}
.wrapper {
  width: 100%;
  height: 500px;
  max-height: 500px;
}

.btnContainer{
  float: left;
  width: 25%;
}
.mainImg{
  float: left;
  width: 50%;
}

.mainImg img{
  max-height: 500px;
}

.arrows{
  cursor: pointer;
  margin-top: 10%;
}
.prev {
  float: left;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.next {
  float: right;
}
.barWrapper {
  position: relative;
  overflow: hidden;
  clear: both;
  width: 50%;
  margin: 20px auto;
  height: 100px;
}

.thumbNailBar{
  position: absolute;
  height: 100px;
  transition: left 0.5s ease-in-out;
}
.thumbNailBar img{
  cursor:pointer;
  float: left;
  width: 178px;
  height: 100px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
}

.thumbNailBar img.active{
  border:5px solid fuchsia
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
